*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    width: 80vw;
    margin: auto;
}

/* Navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

nav img{
    height: 2.5rem;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
}

.nav-item{
    margin: 0 2rem;
    font-size: 1rem;
    font-weight: 300;
    color: rgb(69, 69, 69);
}

.active-item{
    color: #fe5e35;
    font-weight: 800;
}

/* Hero Section */

.intro-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
}



.left-section h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
}

[alt="circles"]{
    height: 2.5rem;
    margin-left: 1rem;
}

.left-section h1{
    font-family: 'Fredoka One',sans-serif;
    font-size: 4rem;
    margin: 1rem 0 2rem 0;
}


.sub-headline{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
    padding-left: 4rem;
}

.sub-headline img{
    background-color:#fe5e35;
    padding: .3rem;
    border-radius: 2rem;
    margin-right: 1rem;
    height: 1.7rem;
}

.text{
    width: 70%;
    color: #758283;
    line-height: 1.8;
    margin: 3rem 0;
}

.action-btn{
    color: #fff;
    background-color: #fe5e35;
    border-radius: 3rem;
    padding: .8rem 1.6rem;
    border: none;
    font-size: 1rem;
    margin-right: 1.4rem;
}




/* right section images */

.headphone-div{
    position: relative;
    padding-left: 2rem;
}

[alt="headphone"]{
    height: 25rem;
    z-index: -1;
}

.discount{
    height: 6rem;
    position: absolute;
    left: 0;
    bottom:2rem;
}

.right-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.discount-content{
    color: #fff;
    position: absolute;
    left: 1.6rem;
    top: 19rem;
}

.discount-content h1{
    font-family: 'Fredoka One',sans-serif;
    font-size: 1.5rem;
}

.dots{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-bottom: 2rem;

}

.dot{
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 3rem;
}

.yellow-dot{ background-color: #E8BD0D;}
.tomato-dot {background-color: #fe5e35;}
.black-dot {background-color: #000;}

.right-section button{
    margin-left: 2rem;
}


/* Rwsponsive Design for 768px */

@media only screen and (max-width:768px) {
    .nav-items {
        display: none;
    }

    nav img{
        height: 2rem;
    }

    .intro-section {
        flex-direction: column-reverse;
    }

    [alt="headphone"]{
        height: 15rem;
    }

    .action-btn{
        font-size: .8rem;
    }

    .right-section {
        margin-bottom: 3rem;
    }

    .left-section h1{
        font-size: 3rem;
    }
}